@mixin from200-to-992 {
    @media screen and (min-width:200px) and (max-width:991.97px){
        @content
    }
}
.design-img{
    width: 100%;
    background: transparent 0% 0% no-repeat padding-box;
}
.cus-sci-bg{
    background-color: #fff;
    padding-bottom: 50px;
}
.left-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
        @include from200-to-992{
            align-items: center;
        }
        .left-logo{
            width: 70px;
        }
        .left-panel-h{
            font-weight: bold;
            font-family: 'Helvetica Neue Bold';
            font-size: 35px;
            color:#000;
            text-align: left;
            text-transform: uppercase;
            margin:20px 0px;
                @include from200-to-992{
                    font-size: 25px;
                    text-align: center;
                }
        }
        .left-panel-p{
            font-weight: normal;
            font-family: 'Helvetica Neue';
            font-size: 16px;
            color:#000;
            line-height: 25px;
            text-align: left;
            @include from200-to-992{
                text-align: center;
            }
        }
}
.right-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../../assets/images/mon.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            bottom: -40px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 358px;
            height: 100px;
            @include from200-to-992{
                display: none;
            }
        }
        .right-panel-img{
            width: 100%;
        }
}